@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  fill: rgba(205, 217, 229, 0.6);
}

svg.github {
  fill: rgb(205, 217, 229);
}

body {
  background-color: red;
}

@layer components {
  .debug {
    @apply outline outline-1 outline-red-600;
  }
}
