.grid-container {
  display: grid;
  grid-template-rows: auto auto 5px auto auto;
  grid-template-areas:
    "RepoHeader ..."
    "RepoHeader Star"
    ".........  Star"
    "Summary    Star"
    "Summary    ....";
}

.repo-header {
  grid-area: RepoHeader;
}

.star {
  grid-area: Star;
}

.summary {
  grid-area: Summary;
}
